<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Title</title>
</head>
<body class="bg-biru ">
    <div class="navbar sticky bg-white z-10 top-0">
        <div class="container">
            <h4 class="nama-site">
                <a href="/">Luthfi MC's Project Site</a>
            </h4>
            <ul class="nav-button">
                <li class="but-padding">
                    <a>Blogs</a>
                </li>
                <li class="but-padding">
                    <a>Projects</a>
                </li>
                <li class="but-padding">
                    <a>About</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>